.task-card {
  margin: 1em 0;
  padding: 1em;
  min-height: 80px;
}

.task-title {
  margin: 0.3em 0;
  display: inline-block;
}

.checkbox {
  margin: 0.8em;
  margin-left: 0;
  width: 1.5em;
  height: 1.5em;
}

.task-title > label:hover,
.checkbox:hover {
  cursor: pointer;
}

.delete-task {
  float: right;
  width: 20px;
  height: 20px;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  text-align: center;
  border: 1px solid black;
  border-radius: 50%;
}

.delete-task.spin:hover {
  background: #bb3333;
  transform: rotate(180deg);
}

.delete-task:after {
  display: inline-block;
  content: '\00d7';
}

.task-notes {
  word-wrap: break-word;
}

.task-notes,
.completed-date {
  margin-bottom: 0;
}

.task-title + .completed-date {
  margin-top: 0;
}

.done {
  background-color: #85ffbd;
  background-image: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%);
}
