.task-card {
  margin: 1em 0;
  padding: 1em;
  min-height: 80px;
}

.task-title {
  margin-top: 0.5em;
  margin-bottom: 0.3em;
  display: inline-block;
}

.checkbox {
  margin: 0.8em;
  width: 1.5em;
  height: 1.5em;
}

.task-notes {
  word-wrap: break-word;
}
