.task-controls {
  margin: 1em 0;
  padding: 1.5em;
  min-height: 80px;
  width: 80vw;
  max-width: 800px;
}

button {
  border-radius: 8px;
  padding-left: 1em;
  padding-right: 1em;
  height: 40px;
}

#delete-all-tasks {
  color: white;
  background-color: #850000;
}
