.new-task-form > h1 {
  margin-top: 0;
}

.new-task-form > * {
  display: block;
}

.new-task-form input,
.new-task-form textarea,
.new-task-form select {
  margin: 1em 0;
  padding: 0.5em;
  width: 100%;
}

#new-task-notes {
  resize: vertical;
  min-height: 50px;
  max-height: 300px;
}

.row {
  display: flex;
  justify-content: space-between;
}

#new-task-date,
#new-task-priority {
  width: 40%;
}

.error {
  border: 2px solid red;
}

#new-task-form-submit {
  float: right;
  color: white;
  background-color: #0b8100;
}
