.new-task-form > h1 {
  margin-top: 0;
}

.new-task-form > * {
  display: block;
}

.new-task-form input,
.new-task-form textarea {
  margin: 1em 0;
  padding: 0.5em;
  width: 100%;
  border-radius: 8px;
}

#new-task-notes {
  resize: vertical;
  max-height: 300px;
}

.error {
  border: 2px solid red;
}

#new-task-form-submit {
  float: right;
  color: white;
  background-color: #0b8100;
}
