* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(120deg, #a1ffc4b6 0%, #8cd9ffb2 100%);
}

menu {
  list-style-type: none;
  padding: 0;
}
